div.board {
	width: 100vw;
	max-width: 1024px;
	height: 90vh;
	position: relative;
}

div.dplayer {
	position: absolute;
	font-size: 10px;
	height: 15em;
}

div.dplayer.active {
	background-color: #d88fc466;
}

div.dplayer button {
	position: absolute;
	top: 50%;
	left: 50%;
}

div.p0 {
	top: 0;
	left: 0;
	right: 0;
}

div.p1 {
	transform: rotate(-90deg) translateY(-15em) translateX(-16.5em);
	transform-origin: right top;
	top: 0;
	right: 0;
	bottom: 0;
}

div.p2 {
	left: 100px;
	right: 100px;
	bottom: 0;
}

div.p3 {
	transform: translateY(7em) translateX(5em) rotate(90deg);
	transform-origin: left bottom;
	left: 0;
	height: 100px;
	top: 0;
	bottom: 0;
}