.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


div.board {
	border: 1px solid black;
	width: 900px;
	height: 900px;
	position: relative;
}

div.dplayer {
	position: absolute;
	font-size: 10px;
	height: 15em;
}

div.dplayer.active {
	background-color: #d88fc466;
}

div.p0 {
	top: 0;
	left: 0;
	right: 0;
}

div.p1 {
	transform: rotate(-90deg) translateY(-15em) translateX(-16.5em);
	transform-origin: right top;
	top: 0;
	right: 0;
	bottom: 0;
}

div.p2 {
	left: 100px;
	right: 100px;
	bottom: 0;
}

div.p3 {
	transform: translateY(7em) translateX(5em) rotate(90deg);
	transform-origin: left bottom;
	left: 0;
	height: 100px;
	top: 0;
	bottom: 0;
}